{
  "extends": ["airbnb-base"],
  "env": {
    "mocha": true
  },
  "rules": {
    "no-console": "off",
    "no-param-reassign": "off",
    "no-restricted-syntax": [
      "error",

      "LabeledStatement",
      "WithStatement",
      "YieldExpression"
    ],
    "space-before-function-paren": ["error", "never"],
    "global-require": "off",
    "prefer-template": "warn",
    "arrow-parens": ["error", "always"],
    "no-floating-decimal": "off",
    "func-names": ["error", "never"],
    "camelcase": ["off"],
    "class-methods-use-this": ["off"], // can be enabled after coffee->es6 migration is complete

    "import/no-unresolved": "off",
    "import/no-dynamic-require": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
  }
}
