html {
  background: url('/plainDoge-700x525.jpg') no-repeat;
}

body {
  background: url(/plainDoge-700x525.jpg?with=querystring);
}

h1 {
  background: red url("plainDoge-700x525.jpg#ololohash") 0 0 no-repeat;
}

span {
  background: url("plainDoge-700x525.jpg?tough=cookie#ololohash");
}

p {
  background: url("doesntexist.jpg");
}

/* For you, wonderful leaflet people, that keep on supporting IE9 and below. I salute you. */
.lvml {
	behavior: url(#default#VML);
}
